language: c

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libbz2-dev liblzo2-dev lzop bzip2 libtar-dev
        libcurl4-openssl-dev realpath checkinstall libffcall1-dev

script:
  - make world
  - ./coroutines
  - make check
  - make clean
  - make DEBUG=1 world
  - ./coroutines
  - make DEBUG=1 check
  - make clean
  - for t in all bzip2_expand clean cp cpw curl_fopen custom_stream dict_test examples libcushions.a libcushion.so mode_test params_test tests variadic_macro world wrap_malloc untar; do make -j 5 $t; make clean; done
  - git status
  - make package
